<header class="page__header d-flex flex-column justify-content-center">
  <div class="navbar__container d-flex flex-row justify-content-between">
      <img class="logo__header" src="../assets/images/logotipo-imagen.png" alt="logotipo imagen">
        <button class="button navbar-toggler" type="button">
            <i class="fas fa-bars"></i>
        </button>
  </div>
  <div class="container__text--header">
    <h1 class="main__title text-center">Vestibulum ante ipsum primis in faucibus</h1>
    <p class="text__header text-center">Morbi in sollicitudin lorem.Fusce gravida ipsum eros, at laoreet velit auctor
      non. Sed aliquam finibus viverra. Vestibulum id massa mi. Nunc non lectus ut tortor fermentum tincidunt.
      Suspendisse feugiat sit amet </p>
  </div>

</header>
