<header class="page__header container-fluid">
  <div class="navbar__container row">
      <img class="logo__header col-sm-6 col-md-2" src="../assets/images/logotipo-imagen.png" alt="logotipo imagen">
      <ul class="d-none d-md-block flex-row list__navbar">
        <li class="item__list--header col-md-1">Sección 1</li>
        <li class="item__list--header col-md-1">Sección 2</li>
        <li class="item__list--header col-md-1">Sección 3</li>
        <li class="item__list--header col-md-1">Sección 4</li>
      </ul>
        <button class="button navbar-toggler" type="button">
            <i class="fas fa-bars"></i>
        </button>
  </div>
  <div class="container__text--header row">
    <h1 class="main__title text-center col">Vestibulum ante ipsum primis in faucibus</h1>
    <p class="text__header text-center col">Morbi in sollicitudin lorem.Fusce gravida ipsum eros, at laoreet velit auctor
      non. Sed aliquam finibus viverra. Vestibulum id massa mi. Nunc non lectus ut tortor fermentum tincidunt.
      Suspendisse feugiat sit amet </p>
  </div>

</header>
