<main class="page__main">
  <div class="container-fluid">
    <section>
      <div class="">
        <ul class="list__section--first d-flex row list-unstyled">
          <div class="col col-lg-3 ">
            <li class="item__section--first d-flex flex-column justify-content-center align-items-center">
              <img class="image__section--first img-fluid" src="assets/images/imagen-copia-11@2x.jpg"
                alt="imagen sección 1">
              <div class="circle rounded-circle"></div>
              <p class="title__section--first">Fusce gravida ipsum eros.</p>
              <p class="text__section--first">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
                jv sg shkg sehkg sehkg wja wdjakwjd awj
                awd awlawfn ajwk jkaw awga</p>
            </li>
          </div>
          <div class="col col-lg-3 ">
            <li class="item__section--first d-flex flex-column justify-content-center">
              <img class="image__section--first img-fluid" src="assets/images/imagen-copia-11@2x.jpg"
                alt="imagen sección 1">
              <div class="circle rounded-circle align-self-center"></div>
              <p class="title__section--first">Fusce gravida ipsum eros.</p>
              <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
                jv sg shkg sehkg sehkg wja wdjakwjd awj
                awd awlawfn ajwk jkaw awga</p>
            </li>
          </div>
          <div class="col col-lg-3 ">
            <li class="item__section--first d-flex flex-column justify-content-center">
              <img class="image__section--first img-fluid" src="assets/images/imagen-copia-11@2x.jpg"
                alt="imagen sección 1">
              <div class="circle rounded-circle align-self-center"></div>
              <p class="title__section--first">Fusce gravida ipsum eros.</p>
              <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
                jv sg shkg sehkg sehkg wja wdjakwjd awj
                awd awlawfn ajwk jkaw awga</p>
            </li>
          </div>
          <div class="col col-lg-3 ">
            <li class="item__section--first d-flex flex-column justify-content-center">
              <img class="image__section--first img-fluid" src="assets/images/imagen-copia-11@2x.jpg"
                alt="imagen sección 1">
              <div class="circle rounded-circle align-self-center"></div>
              <p class="title__section--first">Fusce gravida ipsum eros.</p>
              <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
                jv sg shkg sehkg sehkg wja wdjakwjd awj
                awd awlawfn ajwk jkaw awga</p>
            </li>
          </div>
        </ul>
      </div>
    </section>
    <div class="row">
      <div class="col-12 col-lg-9">
        <section class="section__second px-lg-5 py-lg-4">
          <ul class=" list__section--second row list-unstyled">
            <div class="col-lg-6 py-lg-4">
              <li class="item__section--second d-flex flex-row  justify-content-center">
                <div class="col-3 pr-0 pl-lg-0">
                  <img class="image__section--second img-fluid" src="assets/images/imagen@2x.jpg"
                    alt="imagen sección 2">
                </div>
                <div class="container__section--second col-9 px-lg-5">
                  <p class="title__section--second">Título 1</p>
                  <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent
                    ut
                    tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
                </div>
              </li>
            </div>
            <div class="col-lg-6 py-lg-4">
              <li class="item__section--second d-flex flex-row justify-content-center">
                <div class="col-3 pr-0 pl-lg-0">
                  <img class="image__section--second img-fluid" src="assets/images/imagen@2x.jpg"
                    alt="imagen sección 2">
                </div>
                <div class="container__section--second col-9 px-lg-5">
                  <p class="title__section--second">Título 1</p>
                  <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent
                    ut
                    tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
                </div>
              </li>
            </div>
            <div class="col-lg-6 py-lg-4">
              <li class="item__section--second d-flex flex-row justify-content-center">
                <div class="col-3 pr-0 pl-lg-0">
                  <img class="image__section--second img-fluid" src="assets/images/imagen@2x.jpg"
                    alt="imagen sección 2">
                </div>
                <div class="container__section--second col-9 px-lg-5">
                  <p class="title__section--second">Título 1</p>
                  <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent
                    ut
                    tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
                </div>
              </li>
            </div>
            <div class="col-lg-6 py-lg-4">
              <li class="item__section--second d-flex flex-row justify-content-center">
                <div class="col-3 pr-0 pl-lg-0">
                  <img class="image__section--second img-fluid" src="assets/images/imagen@2x.jpg"
                    alt="imagen sección 2">
                </div>
                <div class="container__section--second col-9 px-lg-5">
                  <p class="title__section--second">Título 1</p>
                  <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent
                    ut
                    tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
                </div>
              </li>
            </div>
            <div class="col-lg-6 py-lg-4">
              <li class="item__section--second d-flex flex-row justify-content-center">
                <div class="col-3 pr-0 pl-lg-0">
                  <img class="image__section--second img-fluid" src="assets/images/imagen@2x.jpg"
                    alt="imagen sección 2">
                </div>
                <div class="container__section--second col-9 px-lg-5">
                  <p class="title__section--second">Título 1</p>
                  <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent
                    ut
                    tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
                </div>
              </li>
            </div>
            <div class="col-lg-6 py-lg-4">
              <li class="item__section--second d-flex flex-row justify-content-center">
                <div class="col-3 pr-0 pl-lg-0">
                  <img class="image__section--second img-fluid" src="assets/images/imagen@2x.jpg"
                    alt="imagen sección 2">
                </div>
                <div class="container__section--second col-9 px-lg-5">
                  <p class="title__section--second">Título 1</p>
                  <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent
                    ut
                    tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
                </div>
              </li>
            </div>
            <div class="col-lg-6 py-lg-4">
              <li class="item__section--second d-flex flex-row justify-content-center">
                <div class="col-3 pr-0 pl-lg-0">
                  <img class="image__section--second img-fluid" src="assets/images/imagen@2x.jpg"
                    alt="imagen sección 2">
                </div>
                <div class="container__section--second col-9 px-lg-5">
                  <p class="title__section--second">Título 1</p>
                  <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent
                    ut
                    tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
                </div>
              </li>
            </div>
            <div class="col-lg-6 py-lg-4">
              <li class="item__section--second d-flex flex-row justify-content-center">
                <div class="col-3 pr-0 pl-lg-0">
                  <img class="image__section--second img-fluid" src="assets/images/imagen@2x.jpg"
                    alt="imagen sección 2">
                </div>
                <div class="container__section--second col-9 px-lg-5">
                  <p class="title__section--second">Título 1</p>
                  <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent
                    ut
                    tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
                </div>
              </li>
            </div>
          </ul>
        </section>
      </div>
      <div class="col-12 col-lg-3">
        <section class="section__third">
          <ul class="list-unstyled">
            <li class="justify-content-center">
              <div class="col px-0 px-lg-3">
                <p class="title__section--third">Sidebar 1</p>
                <p class="text__section--third">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend
                  risus
                  eu,
                  semper mi. Maecenas accumsan
                  turpiseget justo blandit, nec pretium nunc molestie.</p>
              </div>
            </li>
            <li class="justify-content-center">
              <div class="col px-0 px-lg-3">
                <p class="title__section--third">Sidebar 1</p>
                <p class="text__section--third">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend
                  risus
                  eu,
                  semper mi. Maecenas accumsan
                  turpiseget justo blandit, nec pretium nunc molestie.</p>
              </div>
            </li>
            <li class="justify-content-center">
              <div class="col px-0 px-lg-3">
                <p class="title__section--third">Sidebar 1</p>
                <p class="text__section--third">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend
                  risus
                  eu,
                  semper mi. Maecenas accumsan
                  turpiseget justo blandit, nec pretium nunc molestie.</p>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</main>
