<main class="page__main">
  <section>
    <ul class="list-unstyled">
      <li class="item__section--first d-flex flex-column justify-content-center">
        <img class="image__section--first" src="../assets/images/imagen-copia-11.jpg" alt="imagen sección 1">
        <div class="circle rounded-circle align-self-center"></div>
        <p class="title__section--first">Fusce gravida ipsum eros.</p>
        <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
          jv sg shkg sehkg sehkg wja wdjakwjd awj
          awd awlawfn ajwk jkaw awga</p>
      </li>
      <li class="item__section--first d-flex flex-column justify-content-center">
        <img class="image__section--first" src="../assets/images/imagen-copia-11.jpg" alt="imagen sección 1">
        <div class="circle rounded-circle align-self-center"></div>
        <p class="title__section--first">Fusce gravida ipsum eros.</p>
        <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
          jv sg shkg sehkg sehkg wja wdjakwjd awj
          awd awlawfn ajwk jkaw awga</p>
      </li>
      <li class="item__section--first d-flex flex-column justify-content-center">
        <img class="image__section--first" src="../assets/images/imagen-copia-11.jpg" alt="imagen sección 1">
        <div class="circle rounded-circle align-self-center"></div>
        <p class="title__section--first">Fusce gravida ipsum eros.</p>
        <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
          jv sg shkg sehkg sehkg wja wdjakwjd awj
          awd awlawfn ajwk jkaw awga</p>
      </li>
      <li class="item__section--first d-flex flex-column justify-content-center">
        <img class="image__section--first" src="../assets/images/imagen-copia-11.jpg" alt="imagen sección 1">
        <div class="circle rounded-circle align-self-center"></div>
        <p class="title__section--first">Fusce gravida ipsum eros.</p>
        <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
          jv sg shkg sehkg sehkg wja wdjakwjd awj
          awd awlawfn ajwk jkaw awga</p>
      </li>
    </ul>
  </section>
  <section class="section__second">
    <ul class="list-unstyled">
      <li class="d-flex flex-row justify-content-center">
        <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
        <div class="container__section--second">
          <p class="title__section--second">Título 1</p>
          <p class="text__section--second">Sed tempus accumsan risus, id
            facilisis ligula faucibus ut
            praesent ut tincidunt purus nunc
            quis pretium ante, non efficitur
            nulla praesent id pellentesque
            justo.</p>
        </div>
      </li>
      <li class="d-flex flex-row justify-content-center">
        <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
        <div class="container__section--second">
          <p class="title__section--second">Título 1</p>
          <p class="text__section--second">Sed tempus accumsan risus, id
            facilisis ligula faucibus ut
            praesent ut tincidunt purus nunc
            quis pretium ante, non efficitur
            nulla praesent id pellentesque
            justo.</p>
        </div>
      </li>
      <li class="d-flex flex-row justify-content-center">
        <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
        <div class="container__section--second">
          <p class="title__section--second">Título 1</p>
          <p class="text__section--second">Sed tempus accumsan risus, id
            facilisis ligula faucibus ut
            praesent ut tincidunt purus nunc
            quis pretium ante, non efficitur
            nulla praesent id pellentesque
            justo.</p>
        </div>
      </li>
      <li class="d-flex flex-row justify-content-center">
        <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
        <div class="container__section--second">
          <p class="title__section--second">Título 1</p>
          <p class="text__section--second">Sed tempus accumsan risus, id
            facilisis ligula faucibus ut
            praesent ut tincidunt purus nunc
            quis pretium ante, non efficitur
            nulla praesent id pellentesque
            justo.</p>
        </div>
      </li>
      <li class="d-flex flex-row justify-content-center">
        <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
        <div class="container__section--second">
          <p class="title__section--second">Título 1</p>
          <p class="text__section--second">Sed tempus accumsan risus, id
            facilisis ligula faucibus ut
            praesent ut tincidunt purus nunc
            quis pretium ante, non efficitur
            nulla praesent id pellentesque
            justo.</p>
        </div>
      </li>
      <li class="d-flex flex-row justify-content-center">
        <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
        <div class="container__section--second">
          <p class="title__section--second">Título 1</p>
          <p class="text__section--second">Sed tempus accumsan risus, id
            facilisis ligula faucibus ut
            praesent ut tincidunt purus nunc
            quis pretium ante, non efficitur
            nulla praesent id pellentesque
            justo.</p>
        </div>
      </li>
      <li class="d-flex flex-row justify-content-center">
        <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
        <div class="container__section--second">
          <p class="title__section--second">Título 1</p>
          <p class="text__section--second">Sed tempus accumsan risus, id
            facilisis ligula faucibus ut
            praesent ut tincidunt purus nunc
            quis pretium ante, non efficitur
            nulla praesent id pellentesque
            justo.</p>
        </div>
      </li>
      <li class="d-flex flex-row justify-content-center">
        <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
        <div class="container__section--second">
          <p class="title__section--second">Título 1</p>
          <p class="text__section--second">Sed tempus accumsan risus, id
            facilisis ligula faucibus ut
            praesent ut tincidunt purus nunc
            quis pretium ante, non efficitur
            nulla praesent id pellentesque
            justo.</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="section__third">
    <ul class="list-unstyled">
      <li class="d-flex flex-column justify-content-center">
        <p class="title__section--third">Sidebar 1</p>
        <p class="text__section--third">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend risus eu,
          semper mi. Maecenas accumsan
          turpiseget justo blandit, nec pretium nunc molestie.</p>
      </li>
      <li class="d-flex flex-column justify-content-center">
        <p class="title__section--third">Sidebar 1</p>
        <p class="text__section--third">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend risus eu,
          semper mi. Maecenas accumsan
          turpiseget justo blandit, nec pretium nunc molestie.</p>
      </li>
      <li class="d-flex flex-column justify-content-center">
        <p class="title__section--third">Sidebar 1</p>
        <p class="text__section--third last__text">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend risus eu,
          semper mi. Maecenas accumsan
          turpiseget justo blandit, nec pretium nunc molestie.</p>
      </li>
    </ul>
  </section>
</main>
