<main class="page__main container-fluid">
  <section>
    <div class="row">
      <ul class="list__section--first list-unstyled">
        <div class="col">
          <li class="item__section--first d-flex flex-column justify-content-center">
            <img class="image__section--first img-fluid" src="../assets/images/imagen-copia-11.jpg"
              alt="imagen sección 1">
            <div class="circle rounded-circle align-self-center"></div>
            <p class="title__section--first">Fusce gravida ipsum eros.</p>
            <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
              jv sg shkg sehkg sehkg wja wdjakwjd awj
              awd awlawfn ajwk jkaw awga</p>
          </li>
        </div>
        <div class="col">
          <li class="item__section--first d-flex flex-column justify-content-center">
            <img class="image__section--first img-fluid" src="../assets/images/imagen-copia-11.jpg"
              alt="imagen sección 1">
            <div class="circle rounded-circle align-self-center"></div>
            <p class="title__section--first">Fusce gravida ipsum eros.</p>
            <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
              jv sg shkg sehkg sehkg wja wdjakwjd awj
              awd awlawfn ajwk jkaw awga</p>
          </li>
        </div>
        <div class="col">
          <li class="item__section--first d-flex flex-column justify-content-center">
            <img class="image__section--first img-fluid" src="../assets/images/imagen-copia-11.jpg"
              alt="imagen sección 1">
            <div class="circle rounded-circle align-self-center"></div>
            <p class="title__section--first">Fusce gravida ipsum eros.</p>
            <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
              jv sg shkg sehkg sehkg wja wdjakwjd awj
              awd awlawfn ajwk jkaw awga</p>
          </li>
        </div>
        <div class="col">
          <li class="item__section--first d-flex flex-column justify-content-center">
            <img class="image__section--first img-fluid" src="../assets/images/imagen-copia-11.jpg"
              alt="imagen sección 1">
            <div class="circle rounded-circle align-self-center"></div>
            <p class="title__section--first">Fusce gravida ipsum eros.</p>
            <p class="text__section--first align-self-center">Akjbawfb a k aw oiogs eioiowe ioeigsejgvsek
              jv sg shkg sehkg sehkg wja wdjakwjd awj
              awd awlawfn ajwk jkaw awga</p>
          </li>
        </div>
      </ul>
    </div>
  </section>

  <section class="section__second">
    <div class="row">
      <ul class=" list__section--second list-unstyled">
        <li class="item__section--second d-flex flex-row justify-content-center">
          <div class="col-3">
            <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
          </div>
          <div class="container__section--second col-9">
            <p class="title__section--second">Título 1</p>
            <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent ut
              tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
          </div>
        </li>
        <li class="item__section--second d-flex flex-row justify-content-center">
          <div class="col-3">
            <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
          </div>
          <div class="container__section--second col-9">
            <p class="title__section--second">Título 1</p>
            <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent ut
              tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
          </div>
        </li>
        <li class="item__section--second d-flex flex-row justify-content-center">
          <div class="col-3">
            <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
          </div>
          <div class="container__section--second col-9">
            <p class="title__section--second">Título 1</p>
            <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent ut
              tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
          </div>
        </li>
        <li class="item__section--second d-flex flex-row justify-content-center">
          <div class="col-3">
            <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
          </div>
          <div class="container__section--second col-9">
            <p class="title__section--second">Título 1</p>
            <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent ut
              tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
          </div>
        </li>
        <li class="item__section--second d-flex flex-row justify-content-center">
          <div class="col-3">
            <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
          </div>
          <div class="container__section--second col-9">
            <p class="title__section--second">Título 1</p>
            <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent ut
              tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
          </div>
        </li>
        <li class="item__section--second d-flex flex-row justify-content-center">
          <div class="col-3">
            <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
          </div>
          <div class="container__section--second col-9">
            <p class="title__section--second">Título 1</p>
            <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent ut
              tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
          </div>
        </li>
        <li class="item__section--second d-flex flex-row justify-content-center">
          <div class="col-3">
            <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
          </div>
          <div class="container__section--second col-9">
            <p class="title__section--second">Título 1</p>
            <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent ut
              tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
          </div>
        </li>
        <li class="item__section--second d-flex flex-row justify-content-center">
          <div class="col-3">
            <img class="image__section--second" src="../assets/images/imagen.jpg" alt="imagen sección 2">
          </div>
          <div class="container__section--second col-9">
            <p class="title__section--second">Título 1</p>
            <p class="text__section--second">Sed tempus accumsan risus, id facilisis ligula faucibus ut praesent ut
              tincidunt purus nunc quis pretium ante, non efficitur nulla praesent id pellentesque justo.</p>
          </div>
        </li>
      </ul>
  </section>



  <!--

HASTA AQUI TO BIEN


  -->



  <section class="section__third">
    <div class="row">
      <ul class="list-unstyled">
        <li class="d-flex flex-column justify-content-center">
          <div class="col">
            <p class="title__section--third">Sidebar 1</p>
            <p class="text__section--third">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend risus
              eu,
              semper mi. Maecenas accumsan
              turpiseget justo blandit, nec pretium nunc molestie.</p>
          </div>
        </li>
        <li class="d-flex flex-column justify-content-center">
          <div class="col">
            <p class="title__section--third">Sidebar 1</p>
            <p class="text__section--third">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend risus
              eu,
              semper mi. Maecenas accumsan
              turpiseget justo blandit, nec pretium nunc molestie.</p>
          </div>
        </li>
        <li class="d-flex flex-column justify-content-center">
          <div class="col">
            <p class="title__section--third">Sidebar 1</p>
            <p class="text__section--third">Sed pretium lacinia ultricies. Donec vehicula arcu rhoncus,eleifend risus
              eu,
              semper mi. Maecenas accumsan
              turpiseget justo blandit, nec pretium nunc molestie.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
