.page__header {
  background-color: $color-salmon;
  padding-bottom: 124px;
}

.background__navbar{
  position: relative;
}

.navbar__container {
  padding-top: 15px;
}

.logo__header {
  max-height: 100%;
}

.list__navbar {
  margin-top: 15px;
  height: 100%;
}

.hidden {
  display: none;
}

.item__list--header {
  display: inline-block;
  width: 194px;
  height: 100%;
  vertical-align: middle;
  background-color: $color-blood;
}

.menu {
  position: absolute;
  z-index: 1;
  font-size: $font-primary;
  right: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: $color-polarbear;
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.english__button {
  background-color: $color-snake;
  text-align: center;
  color: $color-polarbear;
  font-size: $font-secondary;
  position: absolute;
  top: 32%;
  right: 4%;
}

.container__text--header {
  background-color: $color-elephant;
  color: $color-bone;
  margin-top: 66px;
  padding-top: 44px;
  padding-bottom: 41px;
  text-align: center;
  max-width: 1220px;
}

.main__title {
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

.text__header {
  font-size: $font-primary;
  line-height: 1.25;
  max-width: 906px;
  padding: 0 45px;
}

@media all and (min-width: 1024px) {
  .page__header {
    padding-bottom: 60px;
  }

  .navbar__container {
    padding-top: 55px;
    margin: 0 15px;
  }

  .main__title {
    font-size: 60px;
  }

  .background__navbar {
    background-color: $color-blood;
    padding-left: 0;
  }

  .item__list--header {
    font-size: $font-secondary;
  }

  .container__text--header {
    padding: 5rem, 7rem, 8rem, 7rem;
  }
}
