.page__header{
  background-color: #ff8e8e;
  height: 639px;
  padding-bottom: 124px;
}

.logo__header {
  width: 163px;
  height: 45px;
  margin-top: 15px;
}

.list__navbar{
  background-color: red;
  height: 117px;
}

.item__list--header{
  display: inline-block;
}

.button{
  background-color: white;
  border-radius: 0;
  width: 45px;
  height: 45px;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
}

.container__text--header{
  background-color: #828282;
  color: #f6f6f6;
  margin: 66px 15px 0 14px;
}

.main__title{
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  margin: 44px 0 40px 0;
}
.text__header{
  font-size: 18px;
  color: #c9c9c9;
  line-height: 1.25;
  opacity: 0.65;
  //margin: 0 28px 41px 29px;
}

@media all and(min-width:768px) {
  .logo__header{
    width: 420px;
    height: 117px;
  }
}


