.page__main{
 padding-top: 31px;
 background-color: #c9c9c9;
}

.item__section--first{
  display: inline-block;
  background-color: white;
  margin-bottom: 30px;
  font-size: 12px;
  text-align: center;
}

.image__section--first{
  height: 135px;
}

.circle{
  background-color: white;
  border: 2px solid #c9c9c9;
  width: 87px;
  height: 87px;
  position: absolute;
  transform: translateY(-15%);
}

.title__section--first {
  font-weight: bold;
  margin-top: 68px;
}

.text__section--first{
  width: 243px;
  //margin: 0 41px 29px 47px;
  line-height: 1.25;
}

.section__second{
  color: #c9c9c9;
  background-color: #524e4e;
}

.image__section--second{
  width: 65px;
  height: 65px;
  margin: 15px 0 0 15px;
}

.container__section--second{
  margin-left: 11px;
  padding-right: 23px;
}

.title__section--second{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.text__section--second, .text__section--third{
  display: inline-block;
  font-size: 14px;
  line-height: 1.25;
}

.section__third{
  background-color:#a767a7;
  margin-top: 30px;
  padding: 29px 20px 0 15px;
  color: #c9c9c9;
}

.title__section--third{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 17px;
}

@media all and (min-width:768px){
  .list__section--first{
    display: flex;
    flex-direction: row;
  }

  .list__section--second{
    display: flex;
    flex-flow: column wrap;
    max-height: 700px;
  }

  .item__section--second{
    width: 50%;
  }

  .section__third{
    max-width: 420px;
  }

  .container__wrap{
    display: flex;
    flex-direction: row;
  }
}
